{% for location in locations %}
    <a
    href="{{ path('_ezpublishLocation', {'locationId': location.id}) }}" target="_blank" title="{{ ez_content_name(location.contentInfo) }}">{{ ez_content_name(location.contentInfo) }}</a>{% if loop.last is same as(false) %} /{% endif %}
{% endfor %}